# Data consolidation: Part 2
This is the part two of data consolidation in Python. In this tutorial, we shall merge data in different Excel sheets into a into a dataframe.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

We shall be using **berling_temp.xlsx** workbook which can be downloaded [here](https://github.com/gbganalyst/merge-excel-sheets-in-python/blob/master/berlin_temp.xlsx).

*Choice 1*: Consolidating Excel sheets to a dataframe without including the sheet name

In [2]:
data = pd.concat(pd.read_excel('berlin_temp.xlsx', sheet_name= [0, 1, 2, 3, 4, 5]).values())
data.head()

        date   ta    yr
0 2000-01-01  1.2  2000
1 2000-01-02  3.6  2000
2 2000-01-03  5.7  2000
3 2000-01-04  5.1  2000
4 2000-01-05  2.2  2000

In [3]:
data.tail()

          date   ta    yr
360 2005-12-27 -2.4  2005
361 2005-12-28 -4.2  2005
362 2005-12-29 -3.4  2005
363 2005-12-30 -5.9  2005
364 2005-12-31 -4.3  2005

*Choice 2*: Consolidating Excel sheets to a dataframe by including sheet names

In [4]:
df_dict = pd.read_excel("berlin_temp.xlsx", sheet_name=[0, 1, 2, 3, 4, 5])
data = pd.concat(df.assign(sheet_name=name) for name, df in df_dict.items())
data.head()

        date   ta    yr  sheet_name
0 2000-01-01  1.2  2000           0
1 2000-01-02  3.6  2000           0
2 2000-01-03  5.7  2000           0
3 2000-01-04  5.1  2000           0
4 2000-01-05  2.2  2000           0

In [5]:
data.tail()

          date   ta    yr  sheet_name
360 2005-12-27 -2.4  2005           5
361 2005-12-28 -4.2  2005           5
362 2005-12-29 -3.4  2005           5
363 2005-12-30 -5.9  2005           5
364 2005-12-31 -4.3  2005           5

We now have a consolidated dataframe.

---
The Github repository can be found [here](https://github.com/gbganalyst/merge-excel-sheets-in-python) and if you like this write up, you can also follow me on [Twitter](https://www.twitter.com/gbganalyst) and/or [Linkedin](https://www.linkedin.com/in/ezekiel-ogundepo/) for more updates in `R`, `Excel`, and `Python` for data science.